.ant-table {
    color: #fff;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    background-color: #161414
}


.ant-table-placeholder {
    background-color: #161414;
}
.ant-pagination-item {
    background-color: #161414;
}

.ant-pagination-item a {
    color:#fff !important;
    border-bottom: 0px !important;
}
.ant-pagination-item:focus,
.ant-pagination-item:hover {
    border-color: #d13c3c;
}
.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
    color: #d13c3c;
}
.ant-pagination-item-active {
    background: #161414;
    border-color: #d13c3c;
}
.ant-pagination-item-active a {
    color: #d13c3c;
}
.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
    border-color: #d13c3c;
}
.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
    color: #d13c3c;
}

.ant-pagination-item-active a{
    color: #d13c3c !important;
}


.ant-pagination-prev a,
.ant-pagination-next a {
  color: #fff;
}
.ant-pagination-prev:hover a,
.ant-pagination-next:hover a {
  border-color: #d13c3c;
}

.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #d13c3c;
  border-color: #d13c3c;
}
.ant-pagination-disabled a, 
.ant-pagination-disabled:hover a, 
.ant-pagination-disabled:focus a, 
.ant-pagination-disabled .ant-pagination-item-link, 
.ant-pagination-disabled:hover .ant-pagination-item-link, 
.ant-pagination-disabled:focus .ant-pagination-item-link {
    color: #fff;
}

.ant-pagination-prev .ant-pagination-item-link, 
.ant-pagination-next .ant-pagination-item-link {
    color: #fff;
}

.ant-table-body table {
    margin-bottom: 0 !important;
}